block foot
  footer.bg-dark.text-white.mt-5.py-4.mt-auto
    .container.text-center
      p.mb-1 &copy; 2025 Estore. All rights reserved
      p.mb-0
        | Made with
        span.text-danger &hearts;
        | by Your Company
      p.mb-0
        a.text-white(href='/download/goods.json' download) Download Catalog
