extends template.pug

block content
  .container.mt-4
    .row
      .col-12
        ul.list-group
          each category in categories
            li
              a(href='/category/' + category)= capitalize(category)

